@model Mikro.Core.ViewModels.HomeViewModel

@{
    ViewBag.Title = "Tags";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>#@ViewBag.TagName</h2>


@ViewBag.Name
@if (User.Identity.IsAuthenticated)
{
    <button tag-name="@Model.Tag.Name" id="follow" isfollowing="@Model.Following"
            class="btn btn-sm pull-right">
        Follow
    </button>

    using (Html.BeginForm("DisplayTagContent", "Tag"))
    {
        <div class="form-group">
            @Html.TextAreaFor(m => m.Content, 5, 900, new { @placeholder = "Enter text here" })
            <div>
                <button type="submit" class="btn btn-primary">Wyslij</button>
            </div>
        </div>
    }
}

@Html.Partial("~/Views/Shared/_DisplayPostsPartial.cshtml")

@section scripts{
    <script>
        $(function() {
            if ($("#follow").attr("isfollowing")==null) {
                $("#follow")
                    .text("Follow")
                    .addClass("btn-info");
            } else {
                $("#follow")
                    .text("Unfollow")
                    .addClass("btn-danger");
            }
        });

        $(function () {
            $("#follow").click(function(e) {
                var button = $(e.target);
                $.ajax({
                    url: "/api/following/follow",
                    type: "POST",
                    data: { TagName: button.attr("tag-name") },
                    succes: function(data) {
                        if ($("#follow").attr("isfollowing") == null) {
                            button
                                .text("Follow")
                                .removeClass("btn-danger")
                                .addClass("btn-info");
                        } else {
                            button
                                .text("Unfollow")
                                .removeClass("btn-info")
                                .addClass("btn-danger");
                        }
                        console.log("Succes: ", data);
                    },
                    error: function() {
                        console.log("error");
                    }

                });
                location.reload();
            });
        });
    </script>
}