@model Mikro.Core.ViewModels.HomeViewModel

@foreach (var post in Model.Posts)
{
<div class="panel panel-info">
<div class="panel-heading">
    @post.PostedOn.ToString("MMM d yyyy") | Added by
    <b><a style="color: grey" href="@Url.RouteUrl("UserProfile", new {id = @post.Username})">
            @post.Username
        </a></b>
    <div class="panel-heading-two">
        @if (Model.Plus.FirstOrDefault(x => x.PostId == post.Id) != null && Request.IsAuthenticated)
        {
            <button type="submit" class="plus btn-success" post-id="@post.Id"><b>+@post.PlusCounter</b></button>
        }
        else if (Request.IsAuthenticated)
        {
            <button type="submit" class="plus btn-default" post-id="@post.Id"><b>@post.PlusCounter</b></button>
        }
        
        @if (!Request.IsAuthenticated)
        {
            <button type="submit" class="btn-success plus"><b>+@post.PlusCounter</b></button>
        }

        @if (post.UserId == @ViewBag.actualUserId)
        {
            <a href="@Url.Action("EditPost", "Post", new {id = post.Id})">
                <span class="glyphicon glyphicon-edit"> </span>
            </a>
            <a href="@Url.Action("Delete", "Post", new {id = post.Id})" id="Delete">
                <span class="glyphicon glyphicon-remove" style="color: red"> </span>
            </a>
        }      
    </div>
</div>
<div class="panel-body">
    @Html.Raw(post.PostedContent.Replace(Environment.NewLine, "<br/>"))
</div>
<ul class="list-group">
    <li class="list-group-item">
        <a href="@Url.RouteUrl("Post", new { id = post.Id})">
            Comments(@Model.Comments.Count(x => x.PostId == post.Id))
        </a>
    </li>
</ul>
</div>
}
